@import 'imports';

/* clearfix hack */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  background: white;
  font-family: $helvetica;
}

.intro-article {
  padding: 3rem;
  margin: 3rem;
  background: #f7cac9;
  transition: all 5s;
}

.intro-article--after {
  border-radius: 10px;
  opacity: 1;
}

.masonry-item {
  background: #eee;
  width: 100px;
  height: 100px;
  margin: 1px;
  float: left;
}

.test {
  height: 50px;
  width: 50px;
  margin: 3px;
  background: #eee;
  float: left;
}
