@import 'imports';

/* clearfix hack */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  background: white;
  font-family: $helvetica;
}

* {
  box-sizing: border-box;
}

.intro-article {
  padding: 3rem;
  margin: 3rem;
  background: #f7cac9;
  transition: all 5s;
}

.intro-article--after {
  border-radius: 10px;
  opacity: 1;
}

.grid-sizer,
.grid-item {
  width: 10%;
  transition: all 1s;
}

.grid-item--width2 {
  width: 40%;
  min-height: 100vh;
  color: white;
  font-size: 1.3em;
  padding: 0 1em 0 1em;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg)}
}

.grid-toggle {
  width: 50%;
  z-index: 90;
  transition: all 1s;
}
